TELEGRAM_API_ID=00000000
TELEGRAM_API_HASH=your_api_hash_here
TELEGRAM_ALERT_CHAT_ID=-1001234567890
TELEGRAM_SOURCE_CHANNEL=Univest Official
TELEGRAM_SESSION_STRING=1BQANOTEuMTA4LjU2LjExMwG7qPQhw3V81nyRej3FeOhAHPBbmBesa1dBSD9/6a49gRiFfuXW4LiGBH9h86JdHsWI47lW14l2cE3rqYMO2JooDaOoWL1OSswxrd7gbXe3DBpqdNoj44Q/A/2/DSnhHSrQhdXGdR6H2+dWh741xwL9WEBlkwgIMZWFpYtwXOhxX/Jq/63hSSsXPQtFyXjqovgG5DUESozmqZNG+JVTuvl9uKis9tfvTUE9pF3rahk+NpU2VwvLYOV8f8dvlOJi0cnxD0NkiO43ynm399qWV3VIBt9C7bqUOo+nriV+/jLXSBAmNSYHSqKg1OD2CUZuv2JJSU1Assc0PviVvE2SUL1cKg==
TELEGRAM_USE_WSS=1
TELEGRAM_CONNECT_TIMEOUT=30
